/* You can add global styles to this file, and also import other style files */
:root {
	/*******MAIN COLORS******/
  --primary: #715BFF;
  --secondary: #FBA0FE;
  --accent: #FFEF65;
  --background-primary: #000000;
  --background-secondary: #2F323A;

	/*****BUTTONS******/
	--primary-button: var(--primary);
	--secondary-button: var(--secondary);
	--accent-button: var(--accent);
	--contrast-button: var(--background-primary);

	/*******INPUT********/
	/* --background-color-input: #505050;
	--background-color-input-disabled: #242424;

	--main-navbar-color: #985F99 */
}

* {
	box-sizing: border-box;
	min-width: 0;
	margin: 0;
  padding: 0;
}

body {
	min-height: 100dvh;
	font-family: system-ui, sans-serif;
	background: var(--background-primary);
}

h1,h2,h3,h4 {
	text-wrap: balance;
}

p {
	text-wrap: pretty;
}

button {
	cursor: pointer;
	margin: 10px;
	padding: 10px;
	font-size: large;
	color: #fdfdfd;
	border: none;
	border-radius: 10px;
	transition: scale 0.1s, background-color 0.1s;
}

.primary {
	background-color: var(--primary-button);
}

.secondary {
	background-color: var(--secondary-button);
}

.contrast {
	background-color: var(--contrast-button);
}

button:hover {
	filter: brightness(1.1);
	scale: 1.1;
}

input, select {
	background-color: var(--background-secondary);
	color: aliceblue;
	border-radius: 5px;
	border: none;
	height: 30px;
}

input:disabled, select:disabled {
	background-color: var(--background-secondary);
}

label {
	color: var(--primary);
}

