/* You can add global styles to this file, and also import other style files */
:root {
	/******BUTTONS*******/
	--main-color-button: #f96743;
	--main-color-button-hover: #fd4517;

	/*******INPUT********/
	--background-color-input: #505050;
	--background-color-input-disabled: #242424;

	--main-navbar-color: #985F99
}

* {
	box-sizing: border-box;
	min-width: 0;
	margin: 0;
  padding: 0;
}

body {
	min-height: 100dvh;
	font-family: system-ui, sans-serif;
	background: #13151a;
}

h1,h2,h3,h4 {
	text-wrap: balance;
}

p {
	text-wrap: pretty;
}

button {
	margin: 10px;
	padding: 1%;
	font-size: large;
	background-color: var(--main-color-button);
	color: #fdfdfd;
	border: none;
	border-radius: 10px;
	transition: scale 0.1s, background-color 0.1s;
}

button:hover {
	background-color: var(--main-color-button-hover);
	scale: 1.1 ;
}

input, select {
	background-color: var(--background-color-input);
	color: aliceblue;
	border-radius: 5px;
	border: none;
	height: 30px;
}

input:disabled, select:disabled {
	background-color: var(--background-color-input-disabled);
}

